<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row padding">
                <div class="col-xs-12 col-lg-offset-2 col-lg-8">
                    <div class="contacts">
                        <div class="item">
                            <a href="tel:+375297943249" class="phone txt-bold">+375 (29) 794-32-49</a>
                            <span class="subtext">MTS, Viber, Telegram, Whatsapp</span>
                        </div>
                        <div class="item">
                            <a href="mail:info@galior.com" class="mail">
                                <i class="icon-glyphter icon-email"></i>
                                <span>info@galior.com</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="scype:galior-studio" class="scype">
                                <i class="icon-glyphter icon-skype"></i>
                                <span>galior-studio</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 wrapper-hamburger">
                    <div class="hamburger">
                        <i class="icon-glyphter icon-menu"></i>
                    </div>
                    <a href="jacascript:void(0);" class="arrow-text go-home">
                        <span class="text">home</span>
                        <i class="icon-glyphter icon-top"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <a href="#" class="wrapper-link">
            <div class="bg-image-cover bg-image"
                style="background-image: url('images/footer/footer_like_how_we_do_it-min.jpg');"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-6 link">
                        <div class="top">
                            <p class="h1">Like how we do it?</p>
                            <div class="link-with-arrow"><span class="text">Start a project</span>
                                <div class="animate-arrow">
                                    <i class="icon-glyphter icon-arrow_hover"></i>
                                </div>
                            </div>
                        </div>
                        <div class="bottom">
                            <span class="copyright">© 2009-2019 Galior® Studio, LLC «Галиор and «Galior» are
                                registered
                                trademarks. All rights reserved</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</footer>