<header>
    <div class="container">
        <div class="header-content">
            <div class="wrapper-logo wow fadeInDown d100">
                <a href="/" class="link-logo">
                    <i class="icon-glyphter icon-logo logo"></i>
                </a>
            </div>
            <div class="hamburger">
               <i class="icon-glyphter icon-menu"></i>
            </div>
            <nav id="site-navigation" class="main-menu">
                <ul class="ul-default">
                    <li class="menu-item menu-item-has-children link txt-bold txt-palanquin wow fadeInDown d200">
                        <a href="javascript:void(0);">Focus Areas</a>
                        <ul class="sub-menu">
                            <li class="h2">
                                <a href="/district_heating.html">District heating</a>
                            </li>
                            <li class="h2">
                                <a href="/industrial_heating.html">Industrial heating</a>
                            </li>
                            <li class="h2">
                                <a href="/nuclear_energy.html">Nuclear energy</a>
                            </li>
                            <li class="h2">
                                <a href="/thermal_energy.html">Thermal energy storage</a>
                            </li>
                            <li class="h2">
                                <a href="/electric_balance.html">Electrical grid balancing</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children link txt-bold txt-palanquin wow fadeInDown d300">
                        <a href="javascript:void(0);">Products</a>
                        <ul class="sub-menu">
                            <li class="h2">
                                <a href="/steam.html">Steam boilers</a>
                            </li>
                            <li class="h2">
                                <a href="/hot_water.html">Hot water boilers</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item link txt-bold txt-palanquin underline wow fadeInDown d400">
                        <a href="/aftersales.html">Aftersales</a>
                    </li>
                    <li class="menu-item link txt-bold txt-palanquin underline wow fadeInDown d500">
                        <a href="/about_us.html">About us</a>
                    </li>
                    <li class="menu-item link txt-bold txt-palanquin underline wow fadeInDown d600">
                        <a href="/news.html">News</a>
                    </li>
                    <li class="menu-item link txt-bold txt-palanquin underline wow fadeInDown d700">
                        <a href="/contacts.html">Contact</a>
                    </li>
                </ul>
                <div class="language-mobile">
                    <a href="#" class="link">EN</a>
                    <a href="#" class="link">FR</a>
                    <a href="#" class="link">CH</a>
                </div>
            </nav>
            <div class="language text-uppercase txt-palanquin">
                <div class="wrapper wow fadeInDown d800">
                    <div class="current">EN<span class="arrow"></span></div>
                    <ul class="other-language">
                        <li><a href="#">FR</a></li>
                        <li><a href="#">CH</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
