//= parts/header.html

<body class="about hover-class">

    <div class="main-menu">
        <div class="start-project-popup">
            <div class="close-popup">
                <i class="icon-glyphter icon-close"></i>
            </div>
            <div class="bg-image-cover bg-image" data-src="4"
                style="background-image: url('images/menu/start_project-min.jpg');">
            </div>
            <div class="wrapper">
                <div class="container">
                    <div class="row">
                        <div
                            class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 col-xlg-offset-3 col-xlg-6">
                            <div class="wrapper-form">
                                <h2 class="h2">Got project? Let’s talk!</h2>
                                <form>
                                    <div class="row">
                                        <div class="col-xs-12 col-ss-6">
                                            <div class="field">
                                                <input type="text" name="fullName" id="fullName" placeholder="Andrey"
                                                    class="white">
                                                <label for="fullName">Your name</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-ss-6">

                                        </div>
                                        <div class="col-xs-12 col-ss-6">
                                            <div class="field">
                                                <input type="number" name="phone" id="phone" placeholder="375336728485"
                                                    class="white">
                                                <label for="phone">Phone number</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-ss-6">
                                            <div class="field">
                                                <input type="text" name="email" id="email" placeholder="petr@gmail.com"
                                                    class="white">
                                                <label for="email">Contact email</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="field">
                                                <textarea class="auto-expand white" id="per" rows="1"
                                                    placeholder="I am a little pony live in Lodz..."></textarea>
                                                <label for="per">Your story</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="field js">
                                                <input type="file" name="file-1[]" id="file-1"
                                                    class="inputfile inputfile-1 white"
                                                    data-multiple-caption="{count} files selected" multiple="">
                                                <label for="file-1">
                                                    <i class="icon-glyphter icon-attachment"></i>
                                                    <span>Attach resume (max 2 Mb)</span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapper-btn">
                                        <button class="btn btn-white btn-outline btn-blur">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-image-cover bg-image" data-src="0" style="background-image: url('images/menu/home.jpg');"></div>
        <div class="bg-image-cover bg-image" data-src="3"
            style="background-image: url('images/menu/contacts-min.jpg');"></div>
        <div class="bg-image-cover bg-image" data-src="2"
            style="background-image: url('images/menu/projects-min.jpg');"></div>
        <div class="bg-image-cover bg-image" data-src="4"
            style="background-image: url('images/menu/start_project-min.jpg');"></div>
        <div class="bg-image-cover bg-image" data-src="1" style="background-image: url('images/menu/who_we.min.jpg');">
        </div>
        <div class="bg-gray">
            <div class="container">
                <div class="menu-content">
                    <div class="top">
                        <div class="languages">
                            <a href="#" class="link h3 active default white">En</a>
                            <a href="#" class="link h3 default white">Ru</a>
                        </div>
                        <div class="wrapper-close">
                            <i class="icon-glyphter icon-close"></i>
                        </div>
                    </div>
                    <div class="center">
                        <div class="row">
                            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
                                <div class="center-wrapper">
                                    <nav>
                                        <ul class="ul-default">
                                            <li class="hover-club active" data-image="0"><a href="#"
                                                    class="link hover hover-3 default white">Home</a></li>
                                            <li class="hover-club" data-image="1"><a href="#"
                                                    class="link hover hover-3 default white">Who we are</a></li>
                                            <li class="hover-club" data-image="2"><a href="#"
                                                    class="link hover hover-3 default white">Projects</a></li>
                                            <li class="hover-club" data-image="3"><a href="#"
                                                    class="link hover hover-3 default white">Contacts</a></li>
                                            <li class="hover-club with-icon" data-image="4">
                                                <a href="javascript:void(0);"
                                                    class="link hover hover-3 open-form default white">Start Project<i
                                                        class="icon-glyphter icon-pencil"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <div class="contacts">
                                        <div class="phone item">
                                            <a href="tel:+375297943249"
                                                class="download-brief text-with-icon default white">
                                                <i class="icon-glyphter icon-mobile_number"></i>
                                                <span>+375 (29) 794-32-49</span>
                                            </a>
                                        </div>
                                        <div class="mail item">
                                            <a href="mail:info@galior.com"
                                                class="download-brief text-with-icon default white">
                                                <i class="icon-glyphter icon-email"></i>
                                                <span>info@galior.com</span>
                                            </a>
                                        </div>
                                        <div class="scype item">
                                            <a href="scype:galior-studio"
                                                class="download-brief text-with-icon default white">
                                                <i class="icon-glyphter icon-skype"></i>
                                                <span>galior-studio</span>
                                            </a>
                                        </div>
                                        <div class="address item">
                                            <a href="#" class="location default white">
                                                <i class="icon-glyphter icon-pin"></i>
                                                <span>3 Komsomolskaya street,<br>
                                                    Off 64 (4th floor),<br>
                                                    Brest, Belarus</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="download-file">
                            <div class="presentation item">
                                <a href="" download="" class="download-presentation text-with-icon default white">
                                    <i class="icon-glyphter icon-download"></i>
                                    <span>Download_Presentation</span>
                                </a>

                            </div>
                            <div class="brief item">
                                <a href="" download="" class="download-brief text-with-icon default white">
                                    <i class="icon-glyphter icon-download"></i>
                                    <span>Download_Brief</span>
                                </a>
                            </div>
                        </div>
                        <div class="soc item">
                            <ul class="ul-default">
                                <li>
                                    <a href="#" class="default white">
                                        <i class="icon-glyphter icon-vk"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="default white">
                                        <i class="icon-glyphter icon-insta"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="default white">
                                        <i class="icon-glyphter icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="default white">
                                        <i class="icon-glyphter icon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="default white">
                                        <i class="icon-glyphter icon-pinterest"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hamburger mobile">
        <i class="icon-glyphter icon-menu"></i>
    </div>



    <main id="fullBlock">
        <section class="section min-height without-fixed first">
            <header>
                <div class="container">
                    <div class="header-content">
                        <div class="wrapper-logo wow fadeInDown d100">
                            <a href="/" class="link-logo">
                                <i class="icon-glyphter icon-logo logo"></i>
                            </a>
                            <div class="breadcrumbs">
                                <span>/</span>
                                <span class="text-uppercase">Who we are</span>
                            </div>
                        </div>
                        <div class="hamburger">
                            <i class="icon-glyphter icon-menu"></i>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content-first-block">
                <div class="container">
                    <div class="main-text">
                        <div class="row">
                            <div
                                class="col-sm-offset-1 col-sm-10 col-xlg-offset-2 col-xlg-8 col-xxlg-offset-3 col-xxlg-6">
                                <h2 class="h2 text-center">We breathe life into brands,
                                    build wonderful websites, and thrive on making our clients smile.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="slick-peoples slick">
                        <div class="item">
                            <div class="wrapper">
                                <div class="bg-image-cover image"
                                    style="background-image: url('images/people/man1-min.png');"></div>
                                <div class="person">
                                    <h3 class="h3">Din</h3>
                                    <small class="info">&#8212; web developer</small>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="wrapper">
                                <div class="bg-image-cover image"
                                    style="background-image: url('images/people/man2-min.png');"></div>
                                <div class="person">
                                    <h3 class="h3">James</h3>
                                    <small class="info">&#8212; web developer</small>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="wrapper">
                                <div class="bg-image-cover image"
                                    style="background-image: url('images/people/man3-min.png');"></div>
                                <div class="person">
                                    <h3 class="h3">Yuly</h3>
                                    <small class="info">&#8212; web designer</small>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="wrapper">
                                <div class="bg-image-cover image"
                                    style="background-image: url('images/people/man4-min.png');"></div>
                                <div class="person">
                                    <h3 class="h3">Mickhail</h3>
                                    <small class="info">&#8212; full stack developer</small>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="wrapper">
                                <div class="bg-image-cover image"
                                    style="background-image: url('images/people/man5-min.png');"></div>
                                <div class="person">
                                    <h3 class="h3">Dmitriy</h3>
                                    <small class="info">&#8212; director</small>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="wrapper">
                                <div class="bg-image-cover image"
                                    style="background-image: url('images/people/man1-min.png');"></div>
                                <div class="person">
                                    <h3 class="h3">Sam</h3>
                                    <small class="info">&#8212; full stack developer</small>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="wrapper">
                                <div class="bg-image-cover image"
                                    style="background-image: url('images/people/man2-min.png');"></div>
                                <div class="person">
                                    <h3 class="h3">Mickhail</h3>
                                    <small class="info">&#8212; full stack developer</small>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="wrapper">
                                <div class="bg-image-cover image"
                                    style="background-image: url('images/people/man3-min.png');"></div>
                                <div class="person">
                                    <h3 class="h3">Mickhail</h3>
                                    <small class="info">&#8212; full stack developer</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section min-height">
            <div class="container relative">
                <div class="hamburger absolute">
                    <i class="icon-glyphter icon-menu"></i>
                </div>
                <div class="row row-align-stretch">
                    <div class="col-xs-12 col-ss-4 position-sticky-wrapper">
                        <div class="wrapper-gallery fixed">
                            <div class="full-screen">
                                <i class="icon-glyphter icon-full_screen"></i>
                            </div>
                            <div class="gallery one-main-photo" id="gallery">
                                <a href="images/service_page/backend_developer_small-min.jpg" data-fancybox="gallery"
                                    class="photo bg-image-cover default sliderImages"
                                    style="background-image: url('images/service_page/backend_developer_small-min.jpg')">
                                </a>
                                <a href="images/service_page/corporate_website_small-min.jpg" data-fancybox="gallery"
                                    class="photo display-none bg-image-cover default sliderImages"
                                    style="background-image: url('images/service_page/corporate_website_small-min.jpg')">
                                </a>
                                <a href="images/service_page/exclusive_design_small-min.jpg" data-fancybox="gallery"
                                    class="photo display-none bg-image-cover default sliderImages"
                                    style="background-image: url('images/service_page/exclusive_design_small-min.jpg')">
                                </a>
                                <a href="images/service_page/frontend_developer_small-min.jpg" data-fancybox="gallery"
                                    class="photo display-none bg-image-cover default sliderImages"
                                    style="background-image: url('images/service_page/frontend_developer_small-min.jpg')">
                                </a>
                                <a href="images/service_page/landing_small-min.jpg" data-fancybox="gallery"
                                    class="photo display-none bg-image-cover default sliderImages"
                                    style="background-image: url('images/service_page/landing_small-min.jpg')">
                                </a>
                                <a href="images/service_page/mobile_web_app_small-min.jpg" data-fancybox="gallery"
                                    class="photo display-none bg-image-cover default sliderImages"
                                    style="background-image: url('images/service_page/mobile_web_app_small-min.jpg')">
                                </a>
                            </div>
                        </div>


                    </div>
                    <div class="col-xs-12 col-ss-8 special-padding">
                        <div class="different-padding-blocks padding-under-menu">
                            <div class="block block_1">
                                <p class="h3">We’re just like everyone else. We start our days with a big mug of <span
                                        class="big">coffee</span>, check our
                                    <span class="big">emails</span>, and then we get down to <span
                                        class="big">award-winning</span> <strong>business</strong>.</p>
                            </div>
                            <div class="block block_2">
                                <p class="h3">We design and build <span class="big">great-looking</span>
                                    <strong>websites</strong> that work on every device - we
                                    know that <span class="big">mobile-friendly</span> is a <strong>must</strong>.</p>
                            </div>
                            <div class="block block_3">
                                <p class="h3">We are seeking the most <span class="big">elegant, innovative</span><br>
                                    and <span class="big">modern</span> solutions.</p>
                            </div>
                            <div class="block block_4">
                                <p class="h3">Our team create <span class="big">intelligent</span> and <span
                                        class="big">immersive</span> digital experiences.</p>
                            </div>
                            <div class="block block_5">
                                <p class="h3">We are <span class="big">perfectionists</span> in web design and web
                                    development.</p>
                            </div>
                            <div class="block block_6">
                                <p class="h3">We have <strong>no fear</strong>, but instead <span class="big">take
                                        initiative</span>, make things happen and deliver <strong>projects</strong>
                                    we’re <span class="big">proud of</span>.</p>
                            </div>
                            <div class="block block_7">
                                <p class="h3">We aim to <span class="big">help</span> you to differentiate yourself by
                                    making <strong>your project</strong> more <span class="big">visible</span> and <span
                                        class="big">powerful</span>.</p>
                            </div>
                            <div class="block block_8">
                                <p class="h3"><span class="big">New project</span> is <span class="big">new top</span>
                                    of our experience.</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="section min-height">
            <div class="container relative">
                <div class="hamburger absolute white">
                    <i class="icon-glyphter icon-menu"></i>
                </div>
                <div class="row row-align-stretch what-we-can">
                    <div class="col-xs-12 col-ss-7 col-lg-offset-1 col-lg-6 special-padding">
                        <div class="padding-under-menu mb-70">
                            <h2 class="h2">What we can do</h2>
                            <div class="icon-group flex-start">

                                <div class="item">
                                    <img src="images/icons/logo1.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo2.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo3.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo4.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo5.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo6.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo7.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo8.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo9.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo10.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo11.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo12.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo13.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo14.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo15.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo16.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo17.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo18.svg" alt="logo">
                                </div>
                                <div class="item">
                                    <img src="images/icons/logo19.svg" alt="logo">
                                </div>

                            </div>
                            <h3 class="txt-light">It’s only the <span class="big">smallest part</span> of our abilities.
                                We are always eager to <span class="big">learn new!</span></h3>

                        </div>

                    </div>
                    <div class="col-xs-12 col-ss-5 col-lg-offset-1 col-lg-4 position-sticky-wrapper">
                        <div class="bg-image-cover sticky-image"
                            style="background-image:url('images/about_second_screen-min.jpg');"></div>
                    </div>

                </div>
            </div>
        </section>
        <section class="section min-height special-padding relative">
            <div class="hamburger absolute with-padding">
                <i class="icon-glyphter icon-menu"></i>
            </div>
            <div class="popup right">
                <div class="close">
                    <i class="icon-glyphter icon-close"></i>
                </div>
                <div class="wrapper" data-logo="1">
                    <div class="content">
                        <div class="this-logo">
                            <img src="images/work/abm.png" alt="abm" class="image">
                        </div>
                        <div class="caption">
                            <p class="h3">"Party of Growth" ("Partiya Rosta")</p>
                        </div>
                        <div class="web">
                            <a href="" class="text-with-icon default hover-red">
                                <i class="icon-glyphter icon-world mr-10"></i>
                                <span class="txt-bold">rost.ru</span>
                            </a>
                        </div>
                        <div class="text">The all-Russian political party Growth Party is the officially existing
                            Russian
                            liberal-conservative political party. Created in February-March 2016 on the basis of the
                            Just
                            Cause party by Boris Titov, Commissioner for the Protection of Entrepreneurs' Rights under
                            the
                            President of Russia.
                        </div>
                        <div class="geo">
                            <a href="" class="text-with-icon default hover-red">
                                <i class="icon-glyphter icon-place mr-10"></i>
                                <span>Moscow, Russia</span>

                            </a>
                        </div>
                        <div class="button">
                            <a href="#" class="btn btn-outline btn-red">View our works</a>
                        </div>
                    </div>
                </div>
                <div class="wrapper" data-logo="2">
                    <div class="content">
                        <div class="this-logo">
                            <img src="images/work/agu.png" alt="agu" class="image">
                        </div>
                        <div class="caption">
                            <p class="h3">Abrau</p>
                        </div>
                        <div class="web">
                            <a href="" class="text-with-icon default hover-red">
                                <i class="icon-glyphter icon-world mr-10"></i>
                                <span class="txt-bold">rost.ru</span>
                            </a>
                        </div>
                        <div class="text">The all-Russian political party Growth Party is the officially existing
                            Russian
                            liberal-conservative political party. Created in February-March 2016 on the basis of the
                            Just
                            Cause party by Boris Titov, Commissioner for the Protection of Entrepreneurs' Rights under
                            the
                            President of Russia.
                        </div>
                        <div class="geo">
                            <a href="" class="text-with-icon default hover-red">
                                <i class="icon-glyphter icon-place mr-10"></i>
                                <span>Moscow, Russia</span>

                            </a>
                        </div>
                        <div class="button">
                            <a href="#" class="btn btn-outline btn-red">View our works</a>
                        </div>
                    </div>
                </div>
                <div class="wrapper" data-logo="3">
                    <div class="content">
                        <div class="this-logo">
                            <img src="images/work/aiwona.png" alt="aiwona" class="image">
                        </div>
                        <div class="caption">
                            <p class="h3">Russian Political party "Party of Growth" ("Partiya Rosta")</p>
                        </div>
                        <div class="web">
                            <a href="" class="text-with-icon default hover-red">
                                <i class="icon-glyphter icon-world mr-10"></i>
                                <span class="txt-bold">rost.ru</span>
                            </a>
                        </div>
                        <div class="text">The all-Russian political party Growth Party is the officially existing
                            Russian
                            liberal-conservative political party. Created in February-March 2016 on the basis of the
                            Just
                            Cause party by Boris Titov, Commissioner for the Protection of Entrepreneurs' Rights under
                            the
                            President of Russia. The all-Russian political party Growth Party is the officially existing
                            Russian
                            liberal-conservative political party. Created in February-March 2016 on the basis of the
                            Just
                            Cause party by Boris Titov, Commissioner for the Protection of Entrepreneurs' Rights under
                            the
                            President of Russia.
                        </div>
                        <div class="geo">
                            <a href="" class="text-with-icon default hover-red">
                                <i class="icon-glyphter icon-place mr-10"></i>
                                <span>Moscow, Russia</span>

                            </a>
                        </div>
                        <div class="button">
                            <a href="#" class="btn btn-outline btn-red">View our works</a>
                        </div>
                    </div>
                </div>
                <div class="wrapper" data-logo="4">
                    <div class="content">
                        <div class="this-logo">
                            <img src="images/work/alfamedica.png" alt="alfamedica" class="image">
                        </div>
                        <div class="caption">
                            <p class="h3">Russian Political</p>
                        </div>
                        <div class="web">
                            <a href="" class="text-with-icon default hover-red">
                                <i class="icon-glyphter icon-world mr-10"></i>
                                <span class="txt-bold">rost.ru</span>
                            </a>
                        </div>
                        <div class="text">The all-Russian political party Growth Party is the officially existing
                            Russian
                            liberal-conservative political party. Created in February-March 2016 on the basis of the
                            Just
                            Cause party by Boris Titov, Commissioner for the Protection of Entrepreneurs' Rights under
                            the
                            President of Russia. The all-Russian political party Growth Party is the officially existing
                            Russian
                            liberal-conservative political party. Created in February-March 2016 on the basis of the
                            Just
                            Cause party by Boris Titov, Commissioner for the Protection of Entrepreneurs' Rights under
                            the
                            President of Russia.
                        </div>
                        <div class="geo">
                            <a href="" class="text-with-icon default hover-red">
                                <i class="icon-glyphter icon-place mr-10"></i>
                                <span>Moscow, Russia</span>

                            </a>
                        </div>
                        <div class="button">
                            <a href="#" class="btn btn-outline btn-red">View our works</a>
                        </div>
                    </div>
                </div>
                <div class="wrapper" data-logo="5">
                    <div class="content">
                        <div class="this-logo">
                            <img src="images/work/alt.png" alt="alt" class="image">
                        </div>
                        <div class="caption">
                            <p class="h3">Russian Political</p>
                        </div>
                        <div class="web">
                            <a href="" class="text-with-icon default hover-red">
                                <i class="icon-glyphter icon-world mr-10"></i>
                                <span class="txt-bold">rost.ru</span>
                            </a>
                        </div>
                        <div class="text">The all-Russian political party Growth Party is the officially existing
                            Russian
                            liberal-conservative political party. Created in February-March 2016 on the basis of the
                            Just
                            Cause party by Boris Titov, Commissioner for the Protection of Entrepreneurs' Rights under
                            the
                            President of Russia. The all-Russian political party Growth Party is the officially existing
                            Russian
                            liberal-conservative political party. Created in February-March 2016 on the basis of the
                            Just
                            Cause party by Boris Titov, Commissioner for the Protection of Entrepreneurs' Rights under
                            the
                            President of Russia.
                        </div>
                        <div class="geo">
                            <a href="" class="text-with-icon default hover-red">
                                <i class="icon-glyphter icon-place mr-10"></i>
                                <span>Moscow, Russia</span>

                            </a>
                        </div>
                        <div class="button">
                            <a href="#" class="btn btn-outline btn-red">View our works</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container relative">

                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-offset-1 col-lg-10 col-xlg-offset-2 col-xlg-8">
                        <div class="we-work-with">
                            <h2 class="h2">We work with</h2>
                            <div class="icon-group">
                                <div class="item" data-logo="1">
                                    <img src="images/work/abm.png" alt="abm" class="image">
                                </div>
                                <div class="item" data-logo="2">
                                    <img src="images/work/agu.png" alt="agu" class="image">
                                </div>
                                <div class="item" data-logo="3">
                                    <img src="images/work/aiwona.png" alt="aiwona" class="image">
                                </div>
                                <div class="item" data-logo="4">
                                    <img src="images/work/alfamedica.png" alt="alfamedica" class="image">
                                </div>
                                <div class="item" data-logo="5">
                                    <img src="images/work/alt.png" alt="alt" class="image">
                                </div>
                                <div class="item" data-logo="6">
                                    <img src="images/work/autotrap2.png" alt="autotrap2" class="image">
                                </div>
                                <div class="item" data-logo="7">
                                    <img src="images/work/cl-vp.png" alt="cl-vp" class="image">
                                </div>
                                <div class="item" data-logo="8">
                                    <img src="images/work/logo_giz.png" alt="logo_giz" class="image">
                                </div>
                                <div class="item" data-logo="9">
                                    <img src="images/work/logo_retina.png" alt="logo_retina" class="image">
                                </div>
                                <div class="item" data-logo="10">
                                    <img src="images/work/logo_text.png" alt="logo_text" class="image">
                                </div>
                                <div class="item" data-logo="11">
                                    <img src="images/work/logo-transparency-min.png" alt="logo-transparency-min"
                                        class="image">
                                </div>
                                <div class="item" data-logo="12">
                                    <img src="images/work/logo.png" alt="logo" class="image">
                                </div>
                                <div class="item" data-logo="12">
                                    <img src="images/work/lr-logo.png" alt="lr-logo" class="image">
                                </div>
                                <div class="item" data-logo="12">
                                    <img src="images/work/snabdetal_logo.png" alt="snabdetal_logo" class="image">
                                </div>
                                <div class="item" data-logo="12">
                                    <img src="images/work/visitabrau.png" alt="visitabrau" class="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section min-height without-fixed">
            <footer>
                <div class="footer-top">
                    <div class="container">
                        <div class="row padding">
                            <div class="col-xs-10 col-lg-offset-1 col-xlg-offset-2 col-sm-10 col-lg-9 col-xlg-8">
                                <div class="contacts">
                                    <div class="item">
                                        <a href="tel:+375297943249" class="phone txt-bold">+375 (29) 794-32-49</a>
                                        <span class="subtext">MTS, Viber, Telegram, Whatsapp</span>
                                    </div>
                                    <div class="item">
                                        <a href="mail:info@galior.com" class="mail">
                                            <i class="icon-glyphter icon-email"></i>
                                            <span>info@galior.com</span>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="scype:galior-studio" class="scype">
                                            <i class="icon-glyphter icon-skype"></i>
                                            <span>galior-studio</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 wrapper-hamburger">
                                <div class="hamburger">
                                    <i class="icon-glyphter icon-menu"></i>
                                </div>
                                <a href="jacascript:void(0);" class="arrow-text go-home">
                                    <span class="text">home</span>
                                    <i class="icon-glyphter icon-top"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <a href="/vacancy.html" class="wrapper-link">
                        <div class="bg-image-cover bg-image"
                            style="background-image: url('images/footer/footer_one_of_us-min.jpg');"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-offset-2 col-lg-6 link">
                                    <div class="top">
                                        <p class="h1">Want to be one of us?</p>
                                        <div class="link-with-arrow"><span class="text">Join our team</span>
                                            <div class="animate-arrow">
                                                <i class="icon-glyphter icon-arrow_hover"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <span class="copyright">© 2009-2019 Galior® Studio, LLC «Галиор and «Galior» are
                                            registered
                                            trademarks. All rights reserved</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </footer>
        </section>

        </div>
        //= parts/footer.html