//= parts/header.html
<body class="contacts">

<div id="smooth-scroll"> 
<main id="swup" class="transition-fade">
    <div class="fixed-block transition-fixed-block" id="first">
        <div class="main-overlay"></div>
        //= parts/header-menu.html
        <div class="fixed-block__section-main container">
            <div class="contacts-block">
                <div class="row row-align-stretch">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-1 col-lg-5 col-xlg-4">
                        <h3 class="h3 text-left txt-pt-root txt-semibold">We are happy to answer any questions. Please leave your contacts and we’ll get back to you soon.</h3>
                        <div class="mobile-image-copy" style="background-image: url('images/picture/contacts.jpg');"></div>
                        <form action="">
                            <div class="row">
                                <div class="col-xs-12 col-ss-6">
                                    <div class="field">
                                        <input type="text" name="fullName" id="fullName" placeholder="Andrey">
                                        <label for="fullName">Your name</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-ss-6">
                                    <div class="field">
                                        <input type="text" name="companyName" id="companyName" placeholder="Galior">
                                        <label for="companyName">Company name</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-ss-6">
                                    <div class="field">
                                        <input type="number" name="phone" id="phone" placeholder="375336728485">
                                        <label for="phone">Your phone number</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-ss-6">
                                    <div class="field">
                                        <input type="text" name="email" id="email" placeholder="petr@gmail.com">
                                        <label for="email">Contact email</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-ss-6">
                                    <div class="field">
                                        <select class="select-placeholder" data-ph="Your country">
                                            <option></option>
                                            <option>Russia</option>
                                            <option>Belarus</option>
                                            <option>Italy</option>
                                            <option>Czech</option>
                                            <option>Russia</option>
                                            <option>Deutch</option>
                                            <option>Spain</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-ss-6">
                                    <div class="field">
                                        <select class="select-placeholder" data-ph="Contact inquiry type">
                                            <option></option>
                                            <option>Sales</option>
                                            <option>Aftersales</option>
                                            <option>General</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="field">
                                        <input type="text" name="yourRequest" id="yourRequest" placeholder="I need boiler">
                                        <label for="yourRequest">Please state your inquiry</label>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-justify-start">
                                <a href="#" class="btn btn-red btn-with-arrow">Send</a>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-offset-1 col-lg-4 col-xlg-5">
                        <div class="bg-image-cover image" style="background-image: url('images/picture/contacts.jpg');"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</div>
//= parts/footer-menu.html
//= parts/footer.html
