//= parts/header.html

<body class="contact hover-class">

    <div class="main-menu">
        <div class="start-project-popup">
            <div class="close-popup">
                <i class="icon-glyphter icon-close"></i>
            </div>
            <div class="bg-image-cover bg-image" data-src="4"
                style="background-image: url('images/menu/start_project-min.jpg');">
            </div>
            <div class="wrapper">
                <div class="container">
                    <div class="row">
                        <div
                            class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 col-xlg-offset-3 col-xlg-6">
                            <div class="wrapper-form">
                                <h2 class="h2">Got project? Let’s talk!</h2>
                                <form>
                                    <div class="row">
                                        <div class="col-xs-12 col-ss-6">
                                            <div class="field">
                                                <input type="text" name="fullName" id="fullName" placeholder="Andrey"
                                                    class="white">
                                                <label for="fullName">Your name</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-ss-6">

                                        </div>
                                        <div class="col-xs-12 col-ss-6">
                                            <div class="field">
                                                <input type="number" name="phone" id="phone" placeholder="375336728485"
                                                    class="white">
                                                <label for="phone">Phone number</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-ss-6">
                                            <div class="field">
                                                <input type="text" name="email" id="email" placeholder="petr@gmail.com"
                                                    class="white">
                                                <label for="email">Contact email</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="field">
                                                <textarea class="auto-expand white" id="per" rows="1"
                                                    placeholder="I am a little pony live in Lodz..."></textarea>
                                                <label for="per">Your story</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="field js">
                                                <input type="file" name="file-1[]" id="file-1"
                                                    class="inputfile inputfile-1 white"
                                                    data-multiple-caption="{count} files selected" multiple="">
                                                <label for="file-1">
                                                    <i class="icon-glyphter icon-attachment"></i>
                                                    <span>Attach resume (max 2 Mb)</span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapper-btn">
                                        <button class="btn btn-white btn-outline btn-blur">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-image-cover bg-image" data-src="0" style="background-image: url('images/menu/home.jpg');"></div>
        <div class="bg-image-cover bg-image" data-src="3"
            style="background-image: url('images/menu/contacts-min.jpg');"></div>
        <div class="bg-image-cover bg-image" data-src="2"
            style="background-image: url('images/menu/projects-min.jpg');"></div>
        <div class="bg-image-cover bg-image" data-src="4"
            style="background-image: url('images/menu/start_project-min.jpg');"></div>
        <div class="bg-image-cover bg-image" data-src="1" style="background-image: url('images/menu/who_we.min.jpg');">
        </div>
        <div class="bg-gray">
            <div class="container">
                <div class="menu-content">
                    <div class="top">
                        <div class="languages">
                            <a href="#" class="link h3 active default white">En</a>
                            <a href="#" class="link h3 default white">Ru</a>
                        </div>
                        <div class="wrapper-close">
                            <i class="icon-glyphter icon-close"></i>
                        </div>
                    </div>
                    <div class="center">
                        <div class="row">
                            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
                                <div class="center-wrapper">
                                    <nav>
                                        <ul class="ul-default">
                                            <li class="hover-club active" data-image="0"><a href="#"
                                                    class="link hover hover-3 default white">Home</a></li>
                                            <li class="hover-club" data-image="1"><a href="#"
                                                    class="link hover hover-3 default white">Who we are</a></li>
                                            <li class="hover-club" data-image="2"><a href="#"
                                                    class="link hover hover-3 default white">Projects</a></li>
                                            <li class="hover-club" data-image="3"><a href="#"
                                                    class="link hover hover-3 default white">Contacts</a></li>
                                            <li class="hover-club with-icon" data-image="4">
                                                <a href="javascript:void(0);"
                                                    class="link hover hover-3 open-form default white">Start Project<i
                                                        class="icon-glyphter icon-pencil"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <div class="contacts">
                                        <div class="phone item">
                                            <a href="tel:+375297943249"
                                                class="download-brief text-with-icon default white">
                                                <i class="icon-glyphter icon-mobile_number"></i>
                                                <span>+375 (29) 794-32-49</span>
                                            </a>
                                        </div>
                                        <div class="mail item">
                                            <a href="mail:info@galior.com"
                                                class="download-brief text-with-icon default white">
                                                <i class="icon-glyphter icon-email"></i>
                                                <span>info@galior.com</span>
                                            </a>
                                        </div>
                                        <div class="scype item">
                                            <a href="scype:galior-studio"
                                                class="download-brief text-with-icon default white">
                                                <i class="icon-glyphter icon-skype"></i>
                                                <span>galior-studio</span>
                                            </a>
                                        </div>
                                        <div class="address item">
                                            <a href="#" class="location default white">
                                                <i class="icon-glyphter icon-pin"></i>
                                                <span>3 Komsomolskaya street,<br>
                                                    Off 64 (4th floor),<br>
                                                    Brest, Belarus</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="download-file">
                            <div class="presentation item">
                                <a href="" download="" class="download-presentation text-with-icon default white">
                                    <i class="icon-glyphter icon-download"></i>
                                    <span>Download_Presentation</span>
                                </a>

                            </div>
                            <div class="brief item">
                                <a href="" download="" class="download-brief text-with-icon default white">
                                    <i class="icon-glyphter icon-download"></i>
                                    <span>Download_Brief</span>
                                </a>
                            </div>
                        </div>
                        <div class="soc item">
                            <ul class="ul-default">
                                <li>
                                    <a href="#" class="default white">
                                        <i class="icon-glyphter icon-vk"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="default white">
                                        <i class="icon-glyphter icon-insta"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="default white">
                                        <i class="icon-glyphter icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="default white">
                                        <i class="icon-glyphter icon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="default white">
                                        <i class="icon-glyphter icon-pinterest"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hamburger mobile">
        <i class="icon-glyphter icon-menu"></i>
    </div>

    <main id="fullBlock">
        <section class="section without-fixed">
            <header>
                <div class="container">
                    <div class="header-content">
                        <div class="wrapper-logo wow fadeInDown d100">
                            <a href="/" class="link-logo">
                                <i class="icon-glyphter icon-logo logo"></i>
                            </a>
                            <div class="breadcrumbs">
                                <span>/</span>
                                <span class="text-uppercase">Contacts</span>
                            </div>
                        </div>
                        <div class="hamburger with-bg">
                            <i class="icon-glyphter icon-menu"></i>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content-first-block">
                <div class="container">
                    <div class="contact-block">
                        <div class="row">
                            <div
                                class="col-sm-offset-1 col-lg-offset-0 col-xlg-offset-1 col-xs-12 col-sm-10 col-lg-6 col-xlg-5 text">

                                <h2 class="h2">Don’t be shy — say hi!</h2>
                                <div class="contacts">
                                    <div class="item phone">
                                        <small><strong>Phone number:</strong></small>
                                        <a href="tel:+375297943249" class="default hover-red">+375 (29)
                                            794-32-49</a>
                                        <span class="subtext">MTS, Viber, Telegram, Whatsapp</span>
                                    </div>
                                    <div class="item email">
                                        <small><strong>E-mail:</strong></small>
                                        <a href="mail:info@galior.com" class="mail default hover-red">
                                            <span>info@galior.com</span>
                                        </a>
                                    </div>
                                    <div class="item email">
                                        <small><strong>Scype:</strong></small>
                                        <a href="scype:galior-studio" class="scype default hover-red">
                                            <span>galior-studio</span>
                                        </a>
                                    </div>
                                    <div class="item email">
                                        <small><strong>Address:</strong></small>
                                        <div>3 Komsomolskaya street,<br>
                                            Off 64 (4th floor),<br>
                                            Brest, Belarus
                                        </div>
                                    </div>
                                </div>
                                <h3 class="h3 txt-red">Want to start a project?</h3>
                                <p>Whether you want to work with us or are interested in learning more about what we
                                    do,
                                    we’d love to hear from you.</p>
                                <div class="wrapper-btn">
                                    <a href="javascript:void(0);"
                                        class="btn btn-outline btn-red btn-with-icon open-menu-project">Let’s talk<i
                                            class="icon-glyphter icon-pencil"></i></a>
                                </div>
                                <div class="follow">
                                    <small><strong>Follow us:</strong></small>
                                    <ul class="ul-default">
                                        <li class="wrapper-link hover-club">
                                            <a href="#" class="link hover red hover-3 default">Vkontakte</a>
                                        </li>
                                        <li class="space">
                                            /
                                        </li>
                                        <li class="wrapper-link hover-club">
                                            <a href="#" class="link hover red hover-3 default">Instagram</a>
                                        </li>
                                        <li class="space">
                                            /
                                        </li>
                                        <li class="wrapper-link hover-club">
                                            <a href="#" class="link hover red hover-3 default">Facebook</a>
                                        </li>
                                        <li class="space">
                                            /
                                        </li>
                                        <li class="wrapper-link hover-club">
                                            <a href="#" class="link hover red hover-3 default">Linkdin</a>
                                        </li>
                                        <li class="space">
                                            /
                                        </li>
                                        <li class="wrapper-link hover-club">
                                            <a href="#" class="link hover red hover-3 default">Pinterest</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="company-detail">
                                    <small><strong>Company details:</strong></small>
                                    <p>Galior Studio, LLC. TAN 291002239</p>
                                    <p>Office: 3, Komsomolskaya str., Off. 64 (4th floor), Brest, Belarus</p>
                                    <p>Postal address: 224013 Republic of Belarus, Brest, PO box 15</p>
                                    <p>Account EUR: BY42 ALFA 3012 2321 2100 2027 0000</p>
                                    <p>Account USD: BY57 ALFA 3012 2321 2100 1027 0000</p>
                                    <p>CLOSED JOINT-STOCK COMPANY “ALFA-BANK”,
                                        43-47 Surganova Str., 220013 Minsk, Republic of Belarus
                                        SWIFT — ALFABY2X</p>
                                </div>
                                <div class="copyright">
                                    <p>© 2009-2019 Galior® Studio, LLC<br>
                                        «Галиор and «Galior» are registered trademarks.<br>
                                        All rights reserved</p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-xs-12 col-xlg-offset-1 col-xlg-6 relative">
                                <div class="map">
                                    <div class="map-google" id="googleMapCompany">
                                        <script>
                                            function initCompanyMap() {

                                                var map = new google.maps.Map(document.getElementById('googleMapCompany'), {
                                                    zoom: 17,
                                                    center: { lat: 52.098452, lng: 23.684439 },
                                                    mapTypeControl: true,
                                                    fullscreenControl: true,
                                                    styles: [
                                                        {
                                                            "elementType": "geometry",
                                                            "stylers": [
                                                                {
                                                                    "color": "#f5f5f5"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "elementType": "labels.icon",
                                                            "stylers": [
                                                                {
                                                                    "visibility": "off"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "elementType": "labels.text.fill",
                                                            "stylers": [
                                                                {
                                                                    "color": "#616161"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "elementType": "labels.text.stroke",
                                                            "stylers": [
                                                                {
                                                                    "color": "#f5f5f5"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "featureType": "administrative.land_parcel",
                                                            "elementType": "labels.text.fill",
                                                            "stylers": [
                                                                {
                                                                    "color": "#bdbdbd"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "featureType": "poi",
                                                            "elementType": "geometry",
                                                            "stylers": [
                                                                {
                                                                    "color": "#eeeeee"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "featureType": "poi",
                                                            "elementType": "labels.text.fill",
                                                            "stylers": [
                                                                {
                                                                    "color": "#757575"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "featureType": "poi.park",
                                                            "elementType": "geometry",
                                                            "stylers": [
                                                                {
                                                                    "color": "#e5e5e5"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "featureType": "poi.park",
                                                            "elementType": "labels.text.fill",
                                                            "stylers": [
                                                                {
                                                                    "color": "#9e9e9e"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "featureType": "road",
                                                            "elementType": "geometry",
                                                            "stylers": [
                                                                {
                                                                    "color": "#ffffff"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "featureType": "road.arterial",
                                                            "elementType": "labels.text.fill",
                                                            "stylers": [
                                                                {
                                                                    "color": "#757575"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "featureType": "road.highway",
                                                            "elementType": "geometry",
                                                            "stylers": [
                                                                {
                                                                    "color": "#dadada"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "featureType": "road.highway",
                                                            "elementType": "labels.text.fill",
                                                            "stylers": [
                                                                {
                                                                    "color": "#616161"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "featureType": "road.local",
                                                            "elementType": "labels.text.fill",
                                                            "stylers": [
                                                                {
                                                                    "color": "#9e9e9e"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "featureType": "transit.line",
                                                            "elementType": "geometry",
                                                            "stylers": [
                                                                {
                                                                    "color": "#e5e5e5"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "featureType": "transit.station",
                                                            "elementType": "geometry",
                                                            "stylers": [
                                                                {
                                                                    "color": "#eeeeee"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "featureType": "water",
                                                            "elementType": "geometry",
                                                            "stylers": [
                                                                {
                                                                    "color": "#c9c9c9"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "featureType": "water",
                                                            "elementType": "labels.text.fill",
                                                            "stylers": [
                                                                {
                                                                    "color": "#9e9e9e"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                });

                                                var icon = {
                                                    url: 'images/pin_galior.svg', // url
                                                    scaledSize: new google.maps.Size(50, 50), // scaled size
                                                    origin: new google.maps.Point(0, 0), // origin
                                                    anchor: new google.maps.Point(25, 40) // anchor
                                                };

                                                var marker = new google.maps.Marker({
                                                    position: { lat: 52.098452, lng: 23.684439 },
                                                    map: map,
                                                    icon: icon,
                                                    title: 'Title'
                                                });


                                                var contentString = '<div>Galior Studio, LLC</div>';

                                                var infoWindow = new google.maps.InfoWindow({
                                                    content: contentString,
                                                    maxWidth: 280
                                                });

                                                function isInfoWindowOpen(infoWindow) {
                                                    var map = infoWindow.getMap();
                                                    return (map !== null && typeof map !== "undefined");
                                                }

                                                marker.addListener('click', function () {
                                                    if (isInfoWindowOpen(infoWindow)) {
                                                        infoWindow.close();
                                                    } else {
                                                        infoWindow.open(map, marker);
                                                    }

                                                });
                                            }
                                        </script>
                                        <script async="" defer=""
                                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-QHxdbVDTBzhRN70PFvC3vb282nLje_c&amp;callback=initCompanyMap"></script>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </section>
        </div>
        //= parts/footer.html