//= parts/header.html

<body class="main_page">

    <main class="typografics" style="margin-bottom: 100px;">
        <div class="container">
            <h1>H1 typography for layouts ≥1024px (90/96 px)</h1>
            <br>
            <h2>H2 Text for subtitle in two lines or more (55/60px)</h2>
            <br>
            <h2 class="txt-light">H2 Text for subtitle in two lines or more (55/60px)</h2>
            <br>
            <h3>H3 Text for title in two or more lines. What is Web Design? Web design refers to the design of websites
                that are displayed on the internet. (24/30px) </h3>
            <br>
            <p><strong>Default. (18/33px)</strong> Web design refers to the design of websites that are displayed on the
                internet. It usually refers to the user experience aspects of website development rather than software
                development. Web design used to be focused on designing websites for desktop browsers; however, since
                the mid-2010s, design for mobile and tablet browsers has become ever-increasingly important.</p>
            <br>
            <small><strong>Small. (16/24px)</strong> Web design refers to the design of websites that are displayed on
                the internet. It usually refers to the user experience aspects of website development rather than
                software development. Web design used to be focused on designing websites for desktop browsers; however,
                since the mid-2010s, design for mobile and tablet browsers has become ever-increasingly
                important.</small>
            <div>
                <h1>Buttons</h1>
                <div class="row">
                    <div class="col-xs-3">
                        <button class="btn btn-red">Order logo</button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-outline">Submit</button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-outline btn-red">Submit</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <button class="btn btn-small btn-red">Order logo</button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-small btn-outline">Submit</button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-small btn-outline btn-red">Submit</button>
                    </div>
                </div>
                <div class="row bg-image-cover"
                    style="background-image: url('images/footer/footer_like_how_we_do_it-min.jpg');">
                    <div class="col-xs-3">
                        <button class="btn btn-white btn-outline btn-blur">Submit</button>
                    </div>
                </div>
                <br>
                <div class="display-inline-block" style="margin-right: 40px;">
                    <a href="jacascript:void(0);" class="arrow-text go-home">
                        <span class="text">home</span>
                        <i class="icon-glyphter icon-top"></i>
                    </a>
                </div>
                <div class="display-inline-block">
                    <a href="jacascript:void(0);" class="arrow-text go-next">
                        <i class="icon-glyphter icon-down"></i>
                        <span class="text">get in touch</span>
                    </a>
                </div>
                <br>
                <br>
                <div>
                    <div class="form-group">
                        <input type="checkbox" id="checkbox1" name="default_check" checked="">
                        <label for="checkbox1">Designer</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="checkbox2" name="default_check">
                        <label for="checkbox2">Web developer</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="checkbox3" name="default_check">
                        <label for="checkbox3">It Manager</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="checkbox4" name="default_check">
                        <label for="checkbox4">Бизнес</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="checkbox5" name="default_check">
                        <label for="checkbox5">Развитие</label>
                    </div>
                </div>
                <a href="#" class="animate-arrow">
                    <i class="icon-glyphter icon-arrow_hover"></i>
                </a>
               
              

            </div>
        </div>

    </main>


    </div>
    //= parts/footer.html