//= parts/header.html

<body class="main_page" style="overflow: inherit;">

    <main class="typografics" style="margin-bottom: 100px;">
        <div class="container">
            <h2>Pages</h2>
            <a href="https://galior.com/_works/html/andrey/galior/build/main.html">main</a>
            <br>
            <a href="https://galior.com/_works/html/andrey/galior/build/about.html">about</a>
            <br>
            <a href="https://galior.com/_works/html/andrey/galior/build/project.html">project</a>
            <br>
            <a href="https://galior.com/_works/html/andrey/galior/build/service.html">service</a>
            <br>
            <a href="https://galior.com/_works/html/andrey/galior/build/service_page.html">service page</a>
            <br>
            <a href="https://galior.com/_works/html/andrey/galior/build/vacancy.html">vacancy</a>
            <br>
            <a href="https://galior.com/_works/html/andrey/galior/build/contact.html">contact</a>
            <br>
            <br>
            <br>
            <br>
            <div>
                <h3>Дефолтная типографика</h3>
                <h1>h1 текст</h1>
                <h2>h2 текст</h2>
                <h2 class="txt-light">H2 Text for subtitle in two lines or more (55/60px)</h2>
                <h3>h3 текст</h3>
                <h4>h4 текст</h4>
                <p><strong>Default. (18/33px)</strong> Web design refers to the design of websites that are displayed on
                    the
                    internet. It usually refers to the user experience aspects of website development rather than
                    software
                    development. Web design used to be focused on designing websites for desktop browsers; however,
                    since
                    the mid-2010s, design for mobile and tablet browsers has become ever-increasingly important.</p>
                <br>
                <small><strong>Small. (16/24px)</strong> Web design refers to the design of websites that are displayed
                    on
                    the internet. It usually refers to the user experience aspects of website development rather than
                    software development. Web design used to be focused on designing websites for desktop browsers;
                    however,
                    since the mid-2010s, design for mobile and tablet browsers has become ever-increasingly
                    important.</small>
                <ul>
                    <li>Дефолтный ul список</li>
                    <li>Дефолтный ul список</li>
                    <li>Дефолтный ul список</li>
                    <li>Дефолтный ul список</li>
                    <li>Дефолтный ul список</li>
                </ul>
                <ol>
                    <li>Дефолтный ol список</li>
                    <li>Дефолтный ol список</li>
                    <li>Дефолтный ol список</li>
                    <li>Дефолтный ol список</li>
                    <li>Дефолтный ol список</li>
                </ol>
                <strong>Strong text</strong>
                <br>
                <small>Small text</small>
                <blockquote>Каждому человеку нужно какое-нибудь хобби — якобы с целью «выйти из стресса», — но ты-то
                    прекрасно понимаешь, что на самом деле люди попросту пытаются выжить и не сойти с ума.</blockquote>
                <a href="https://www.youtube.com/watch?v=cDxrx6HoDFY">дефолтная ссылка от такая</a>
                <br>
                <table cellspacing="0">
                    <thead>
                        <tr>
                            <th>Адреса</th>
                            <th>Отделения</th>
                            <th>Время работы</th>
                            <th>Контактные телефоны</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div>Брест
                                    ул. Куйбышева 9, пом 106-107, (ТЦ "7 континент")
                                </div>
                                <div>Как добраться</div>
                            </td>
                            <td>Отделениее-11</td>
                            <td>
                                <div>пн - пт: 11:00 - 20:00</div>
                                <div>сб: 10:00 - 18:00</div>
                                <div>вc: выходной</div>
                            </td>
                            <td>
                                <div>+375 29 616-36-24</div>
                                <div>+375 33 690-24-24</div>
                                <div>brest@globel24.by</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>Барановичи
                                    пр. Советский, 19 (вход в торговый центр)
                                </div>
                                <div>Как добраться</div>
                            </td>
                            <td>Отделениее-12</td>
                            <td>
                                <div>вт - пт: 15:00 - 20:00</div>
                                <div>сб: 10:00 - 15:00</div>
                                <div>вc - пн: выходной</div>
                            </td>
                            <td>
                                <div>+375 29 616-90-24</div>
                                <div>baranovichi@globel24.by</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>Пинск
                                    ул. Центральная, 15б
                                </div>
                                <div>Как добраться</div>
                            </td>
                            <td>Отделениее-13</td>
                            <td>
                                <div>вт - пт: 15:00 - 20:00</div>
                                <div>сб: 10:00 - 15:00</div>
                                <div>вc - пн: выходной</div>
                            </td>
                            <td>
                                <div>+375 29 178-33-68</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>Осиповичи
                                    ул. Интернациональная, площадь Привокзальная, магазин «Оазис».
                                </div>
                                <div>Как добраться</div>
                            </td>
                            <td>Отделениее-63</td>
                            <td>
                                <div>пн - пт: 11:00 - 19:00,перерыв:</div>
                                <div>14:00 - 15:00</div>
                                <div>сб: 11:00 - 15:00</div>
                                <div>вc: выходной</div>
                            </td>
                            <td>
                                <div>+375 29 626-63-20</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h3>Checkbox</h3>
                <div>
                    <div class="form-group">
                        <input type="checkbox" id="checkbox1" name="default_check" checked="">
                        <label for="checkbox1">Designer</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="checkbox2" name="default_check">
                        <label for="checkbox2">Web developer</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="checkbox3" name="default_check">
                        <label for="checkbox3">It Manager</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="checkbox4" name="default_check">
                        <label for="checkbox4">Бизнес</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="checkbox5" name="default_check">
                        <label for="checkbox5">Развитие</label>
                    </div>
                </div>
                <br>
                <h3>Radio</h3>
                <div>
                    <div class="form-group">
                        <input type="radio" id="radio" name="radio" checked="">
                        <label for="radio">Designer</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" id="radio1" name="radio">
                        <label for="radio1">Web developer</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" id="radio2" name="radio">
                        <label for="radio2">It Manager</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" id="radio3" name="radio">
                        <label for="radio3">Бизнес</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" id="radio4" name="radio">
                        <label for="radio4">Развитие</label>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <h3>Select typography</h3>
                <div class="row">
                    <div class="col-xs-6" style="margin-bottom: 40px;">
                        <h4>Стандартный селект</h2>
                            <select>
                                <option>Все города</option>
                                <option>English English English English</option>
                                <option>Italy</option>
                                <option>Czech</option>
                                <option>Russia</option>
                                <option>Deutch</option>
                                <option>Spain</option>
                            </select>
                    </div>
                    <div class="col-xs-6" style="margin-bottom: 40px;">
                        <h4>Стандартный селект c поиском</h2>
                            <select class="select-search" id="select_standart">
                                <option>English</option>
                                <option>Italy</option>
                                <option>Czech</option>
                                <option>Russia</option>
                                <option>Deutch</option>
                                <option>Spain</option>
                            </select>
                    </div>
                    <div class="col-xs-6" style="margin-bottom: 40px;">
                        <h4>Стандартный селект с placeholder</h2>
                            <select class="select-placeholder" data-ph="Country">
                                <option></option>
                                <option>Не выбирать язык</option>
                                <option>English</option>
                                <option>Italy</option>
                                <option>Czech</option>
                                <option>Russia</option>
                                <option>Deutch</option>
                                <option>Spain</option>
                            </select>
                    </div>
                    <div class="col-xs-6" style="margin-bottom: 40px;">
                        <h4>Стандартный селект с placeholder и поиском</h2>
                            <select class="select-search-placeholder" data-ph="City">
                                <option></option>
                                <option>English</option>
                                <option>Italy</option>
                                <option>Czech</option>
                                <option>Russia</option>
                                <option>Deutch</option>
                                <option>Spain</option>
                            </select>
                    </div>
                </div>
                <br>
                <br>
                <h3>Preloader</h3>
                <div style="width: 400px; height: auto; background-color: green; padding: 25px; position: relative;"
                    class="test">
                    <div style="color: #fff;">
                        Web design refers to the design of websites that are displayed
                        on
                        the internet. It usually refers to the user experience aspects of website development rather
                        than
                        software development. Web design used to be focused on designing websites for desktop browsers;
                        however,
                        since the mid-2010s, design for mobile and tablet browsers has become ever-increasingly
                        important.
                    </div>
                </div>
                <br>
                <div class="wrapper-btn">
                    <button class="btn btn-red" onclick="addPreloader('.test')">Добавить прелоадер</button>
                    <button class="btn btn-red" onclick="closePreloader('.test')">Убрать прелоадер</button>
                </div>
                <br>
                <br>
                <h3>Модальное окно</h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <button class="btn btn-outline" data-toggle="modal" data-target="#alert-warning">Ошибка
                            уведомление
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button class="btn btn-outline" data-toggle="modal" data-target="#alert-attention">Внимание
                            уведомление
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button class="btn btn-outline" data-toggle="modal" data-target="#alert-successfully">Успешное
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button class="btn btn-outline" data-toggle="modal" data-target="#textModal">Модалка с
                            текстом</button>
                    </div>
                </div>







                <br>
                <br>
                <br>
                <br>
                <br>
            </div>



            <div>
                <h1>Buttons</h1>
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <button class="btn btn-red">Order logo</button>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <button class="btn btn-outline">Submit</button>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <button class="btn btn-outline btn-red">Submit</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <button class="btn btn-small btn-red">Order logo</button>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <button class="btn btn-small btn-outline">Submit</button>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <button class="btn btn-small btn-outline btn-red">Submit</button>
                    </div>
                </div>
                <div class="row bg-image-cover"
                    style="background-image: url('images/footer/footer_like_how_we_do_it-min.jpg');">
                    <div class="col-xs-12 col-md-3">
                        <button class="btn btn-white btn-outline btn-blur">Submit</button>
                    </div>
                </div>
                <br>
                <div class="display-inline-block" style="margin-right: 40px;">
                    <a href="jacascript:void(0);" class="arrow-text go-home default">
                        <span class="text">home</span>
                        <i class="icon-glyphter icon-top"></i>
                    </a>
                </div>
                <div class="display-inline-block">
                    <a href="jacascript:void(0);" class="arrow-text go-next default">
                        <i class="icon-glyphter icon-down"></i>
                        <span class="text">get in touch</span>
                    </a>
                </div>
                <br>
                <br>

                <a href="#" class="animate-arrow">
                    <i class="icon-glyphter icon-arrow_hover"></i>
                </a>



            </div>
        </div>

    </main>



    <div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="modal-close-main btn-icon btn-no-bg" data-dismiss="modal"
                        aria-label="Close"><i class="icon-glyphter icon-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="mb-35">
                        <h2 class="text-left h3 caption txt-blue text-uppercase mb-5">Where does it come from?</h2>
                    </div>
                    <div>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                            Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                            Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
                            word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from
                            sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
                            Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
                            popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
                            amet..", comes from a line in section 1.10.32.

                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are
                            also reproduced in their exact original form, accompanied by English versions from the 1914
                            translation by H. Rackham.</p>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                            Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                            Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
                            word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from
                            sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
                            Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
                            popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
                            amet..", comes from a line in section 1.10.32.

                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are
                            also reproduced in their exact original form, accompanied by English versions from the 1914
                            translation by H. Rackham.</p>
                        <ul>
                            <li>анализ рынка различных видов недвижимости,</li>
                            <li>рассмотрение вариантов использования и выбор наилучшего и наиболее эффективного,</li>
                            <li>определение наиболее вероятного значения арендной платы,</li>
                            <li>экспертиза достоверности оценки,</li>
                            <li>оценка для целей МСФО и прочие.</li>
                        </ul>
                        <p>Мы будем признательны, если для стоимостной оценки Вы заранее позаботитесь о наличии
                            следующих документов</p>
                        <ol>
                            <li>Копия технического паспорта с поэтажными планами помещений;</li>
                            <li>Копия свидетельства (удостоверения) о государственной регистрации земельного участка
                                (при отсутствии свидетельства – государственный акт землепользования или решение
                                исполкома об отводе земельного участка);</li>
                            <li>Копия свидетельства (удостоверения) о государственной регистрации недвижимого улучшения;
                            </li>
                            <li>Копия инвентарной карточки на недвижимое улучшение;</li>
                            <li>Копия договоров аренды помещений (в случае, если помещения сдаются в аренду).</li>
                            <li>Справка о налоге на землю и на недвижимость (либо копии налоговых деклараций).</li>
                        </ol>
                    </div>

                </div>
                <div class="modal-footer">
                    <span data-dismiss="modal" aria-label="Close" class="modal-close">Закрыть</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal alert alert-warning fade" id="alert-warning" tabindex="-1" role="dialog"
        aria-labelledby="alert-warning" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-xs">
                <div class="modal-header">
                    <button type="button" class="modal-close-main btn-no-bg" data-dismiss="modal" aria-label="Close"><i
                            class="icon-glyphter icon-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-xs-12 icon">
                            <i class="icon-glyphter icon-input_wrong_format"></i>
                        </div>
                        <div class="col-xs-12">
                            <h2 class="h4 text-uppercase-not">Ошибка!</h2>
                        </div>
                        <div class="col-xs-12">
                            <p>Вы ввели неверный логин или пароль.<br>Хотите повторить попытку?</p>
                        </div>
                        <div class="col-xs-12 buttons">
                            <button class="btn btn-red mr-10">Повторить</button>
                            <button class="btn btn-outline" data-dismiss="modal" aria-label="Close">Отмена
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal alert alert-attention fade" id="alert-attention" tabindex="-1" role="dialog"
        aria-labelledby="alert-attention" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-xs">
                <div class="modal-header">
                    <button type="button" class="modal-close-main btn-no-bg" data-dismiss="modal" aria-label="Close"><i
                            class="icon-glyphter icon-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-xs-12 icon">
                            <i class="icon-glyphter icon-attention"></i>
                        </div>
                        <div class="col-xs-12">
                            <h2 class="h4 text-uppercase-not">Внимание!</h2>
                        </div>
                        <div class="col-xs-12">
                            <p>19.08.2019 c 12:00 до 16:00 по техническим причинам заказы не будут добавляться в
                                корзину.</p>
                        </div>
                        <div class="col-xs-12 buttons">
                            <button class="btn btn-red" data-dismiss="modal" aria-label="Close">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal alert alert-success fade" id="alert-successfully" tabindex="-1" role="dialog"
        aria-labelledby="alert-successfully" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-xs">
                <div class="modal-header">
                    <button type="button" class="modal-close-main btn-no-bg" data-dismiss="modal" aria-label="Close"><i
                            class="icon-glyphter icon-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-xs-12 icon">
                            <i class="icon-glyphter icon-input_right"></i>
                        </div>
                        <div class="col-xs-12">
                            <h2 class="h4 text-uppercase-not">Спасибо за Ваш отзыв!</h2>
                        </div>
                        <div class="col-xs-12">
                            <p>После проверки он будет опубликован.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    //= parts/footer.html