//= parts/header.html

<body class="main_page">

    <section class="with-bg fixed-block-main">
        <div class="wrapper">
            <div id="slider">
                //= parts/header-menu.html
                <div class="slide">
                    <div class="slide-wrapper">
                        <div class="img-wrapper">
                            <img src="images/main_page_example1-min.png" alt="">
                        </div>
                        <div class="title-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <div class="inner-wrapper">
                                            <p class="h1">Corporate website for Lux & Sport Cars Company</p>
                                            <a href="#" class="link-with-arrow"><span class="text">View case</span>
                                                <div class="animate-arrow">
                                                    <i class="icon-glyphter icon-arrow_hover"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-wrapper">
                        <div class="img-wrapper">
                            <img src="images/main_page_example2-min.jpg" alt="">
                        </div>
                        <div class="title-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <div class="inner-wrapper">
                                            <p class="h1">Website for the Abrau-Durso Development Fund</p>
                                            <a href="#" class="link-with-arrow"><span class="text">View case</span>
                                                <div class="animate-arrow">
                                                    <i class="icon-glyphter icon-arrow_hover"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-wrapper">
                        <div class="img-wrapper">
                            <img src="images/main_page_example3-min.jpg" alt="">
                        </div>
                        <div class="title-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <div class="inner-wrapper">
                                            <p class="h1">Site for the event agency "Vash Prazdnik"</p>
                                            <a href="#" class="link-with-arrow"><span class="text">View case</span>
                                                <div class="animate-arrow">
                                                    <i class="icon-glyphter icon-arrow_hover"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-wrapper">
                        <div class="img-wrapper">
                            <img src="images/main_page_example1-min.png" alt="">
                        </div>
                        <div class="title-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <div class="inner-wrapper">
                                            <p class="h1">Corporate website for Lux & Sport Cars Company</p>
                                            <a href="#" class="link-with-arrow"><span class="text">View case</span>
                                                <div class="animate-arrow">
                                                    <i class="icon-glyphter icon-arrow_hover"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-wrapper">
                        <div class="img-wrapper">
                            <img src="images/main_page_example2-min.jpg" alt="">
                        </div>
                        <div class="title-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <div class="inner-wrapper">
                                            <p class="h1">Website for the Abrau-Durso Development Fund</p>
                                            <a href="#" class="link-with-arrow"><span class="text">View case</span>
                                                <div class="animate-arrow">
                                                    <i class="icon-glyphter icon-arrow_hover"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-wrapper">
                        <div class="img-wrapper">
                            <img src="images/main_page_example3-min.jpg" alt="">
                        </div>
                        <div class="title-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <div class="inner-wrapper">
                                            <p class="h1">Site for the event agency "Vash Prazdnik"</p>
                                            <a href="#" class="link-with-arrow"><span class="text">View case</span>
                                                <div class="animate-arrow">
                                                    <i class="icon-glyphter icon-arrow_hover"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="counter"></div>
                <div class="click-next-block position">
                    <a href="jacascript:void(0);" class="arrow-text go-next">
                        <i class="icon-glyphter icon-down"></i>
                        <span class="text">who we are</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <main id="fullBlock">
        <section class="section min-height second-block-anchor special-padding height">
            <div class="container relative">
                <div class="hamburger absolute">
                    <i class="icon-glyphter icon-menu"></i>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-3">
                        <div class="slider-peoples" id="sliderPeoples">
                            <!-- <div class="item">
                                <p class="name h3">
                                    Alex
                                </p>
                                <small class="work">&#8212; web-developer</small>
                                <img src="images/people/man2-min.png" alt="kate" class="image">
                                <div class="image"></div>
                            </div> -->
                            <div class="slide item">
                                <div class="slide-wrapper">
                                    <div class="title-wrapper">
                                        <div class="inner-wrapper">
                                            <p class="name h3">
                                                Alex
                                            </p>
                                            <small class="work">&#8212; web-developer</small>
                                        </div>
                                    </div>
                                    <div class="img-wrapper">
                                        <div class="image" style="background-color: blue;"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="slide item">
                                <div class="slide-wrapper">
                                    <div class="title-wrapper">
                                        <div class="inner-wrapper">
                                            <p class="name h3">
                                                Brad
                                            </p>
                                            <small class="work">&#8212; web-developer</small>
                                        </div>
                                    </div>
                                    <div class="img-wrapper">
                                        <div class="image" style="background-color: red;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide item">
                                <div class="slide-wrapper">
                                    <div class="title-wrapper">
                                        <div class="inner-wrapper">
                                            <p class="name h3">
                                                Brad
                                            </p>
                                            <small class="work">&#8212; web-developer</small>
                                        </div>
                                    </div>
                                    <div class="img-wrapper">
                                        <div class="image" style="background-color: yellow;"></div>
                                    </div>
                                </div>
                            </div>
                            <nav id="navigation">
                                <div class="bullet next">
                                    <i class="icon-glyphter icon-top"></i>
                                </div>
                                <div class="bullet prev">
                                    <i class="icon-glyphter icon-down"></i>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-offset-1 col-lg-6">
                        <div class="who_we">
                            <h2 class="h2">Who we are</h2>
                            <p>We respect the requirements of clients, are able to clearly grasp the idea of the future
                                project and create it as soon as possible. We do not work “on a template”, but we
                                approach
                                each order individually. We follow the trends in web programming, design and do it a ll
                                creatively.</p>
                            <a href="#" class="link-with-arrow without-bg red"><span class="text">Learn more</span>
                                <div class="animate-arrow">
                                    <i class="icon-glyphter icon-arrow_hover"></i>
                                </div>
                            </a>
                        </div>
                        <div class="animate-icons-group">
                            <div class="item">
                                <div class="wrapper">
                                    <img src="images/icons/drupal.svg" alt="drupal">
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrapper">
                                    <img src="images/icons/jquery.svg" alt="jquery">
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrapper">
                                    <img src="images/icons/less.svg" alt="less">
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrapper">
                                    <img src="images/icons/php.svg" alt="php">
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrapper">
                                    <img src="images/icons/react.svg" alt="react">
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrapper">
                                    <img src="images/icons/vuejs.svg" alt="vue">
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrapper">
                                    <img src="images/icons/ajax.svg" alt="ajax">
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrapper">
                                    <img src="images/icons/github.svg" alt="github">
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrapper">
                                    <img src="images/icons/wordpress.svg" alt="wordpress">
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrapper">
                                    <img src="images/icons/js.svg" alt="js">
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrapper">
                                    <img src="images/icons/mysql.svg" alt="mysql">
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrapper">
                                    <img src="images/icons/openstreetmap.svg" alt="openstreetmap">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section min-height">
            //= parts/footer-menu.html



        </section>
        <!-- <section class="section min-height" style="background-color: blue;" id="poh">
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>

        </section> -->
        </div>
        //= parts/footer.html