//= parts/header.html

<body class="main_page">
  
    <section class="with-bg fixed-block-main">
        <div class="wrapper">
            <div id="slider">
                //= parts/header-menu.html
                <div class="slide">
                    <div class="slide-wrapper">
                        <div class="img-wrapper">
                            <img src="images/main_page_example1-min.png" alt="">
                        </div>
                        <div class="title-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <div class="inner-wrapper">
                                            <p class="h1">Corporate website for Lux & Sport Cars Company</p>
                                            <a href="#" class="link-with-arrow"><span class="text">View case</span>
                                                <div class="animate-arrow">
                                                    <i class="icon-glyphter icon-arrow_hover"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-wrapper">
                        <div class="img-wrapper">
                            <img src="images/main_page_example2-min.jpg" alt="">
                        </div>
                        <div class="title-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <div class="inner-wrapper">
                                            <p class="h1">Website for the Abrau-Durso Development Fund</p>
                                            <a href="#" class="link-with-arrow"><span class="text">View case</span>
                                                <div class="animate-arrow">
                                                    <i class="icon-glyphter icon-arrow_hover"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-wrapper">
                        <div class="img-wrapper">
                            <img src="images/main_page_example3-min.jpg" alt="">
                        </div>
                        <div class="title-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <div class="inner-wrapper">
                                            <p class="h1">Site for the event agency "Vash Prazdnik"</p>
                                            <a href="#" class="link-with-arrow"><span class="text">View case</span>
                                                <div class="animate-arrow">
                                                    <i class="icon-glyphter icon-arrow_hover"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-wrapper">
                        <div class="img-wrapper">
                            <img src="images/main_page_example1-min.png" alt="">
                        </div>
                        <div class="title-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <div class="inner-wrapper">
                                            <p class="h1">Corporate website for Lux & Sport Cars Company</p>
                                            <a href="#" class="link-with-arrow"><span class="text">View case</span>
                                                <div class="animate-arrow">
                                                    <i class="icon-glyphter icon-arrow_hover"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-wrapper">
                        <div class="img-wrapper">
                            <img src="images/main_page_example2-min.jpg" alt="">
                        </div>
                        <div class="title-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <div class="inner-wrapper">
                                            <p class="h1">Website for the Abrau-Durso Development Fund</p>
                                            <a href="#" class="link-with-arrow"><span class="text">View case</span>
                                                <div class="animate-arrow">
                                                    <i class="icon-glyphter icon-arrow_hover"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-wrapper">
                        <div class="img-wrapper">
                            <img src="images/main_page_example3-min.jpg" alt="">
                        </div>
                        <div class="title-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <div class="inner-wrapper">
                                            <p class="h1">Site for the event agency "Vash Prazdnik"</p>
                                            <a href="#" class="link-with-arrow"><span class="text">View case</span>
                                                <div class="animate-arrow">
                                                    <i class="icon-glyphter icon-arrow_hover"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="counter"></div>
                <div class="click-next-block position">
                    <a href="jacascript:void(0);" class="arrow-text go-next">
                        <i class="icon-glyphter icon-down"></i>
                        <span class="text">who we are</span>
                    </a>
                </div>
                <!-- <nav id="navigation">
        <div class="bullet"></div>
        <div class="bullet"></div>
        <div class="bullet"></div>
        <div class="bullet"></div>
        <div class="bullet"></div>
    </nav> -->
            </div>
        </div>
    </section>

    <main id="fullBlock">
        <section class="section min-height second-block-anchor" id="lox">
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>

        </section>
        <section class="section min-height second-block-anchor" style="background-color: red;" id="poh">
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>
            <p>asdasdadasdad</p>
            <br>
            <br>
            <br>

        </section>
    </div>
    //= parts/footer.html