:root {
	--text-color: rgb(255, 255, 255);
	--blend-color: rgba(46, 61, 102, 0.6);
	--bullets-color: rgb(255, 255, 255);
	--transform-amount: 20px;
	--bullets-count: 5;
}

.arrow-text{
    &.go-home{
        .icon-glyphter{
            position: relative;
        }
    }
    &.go-next{
        .icon-glyphter{
            position: relative;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text{
        font-size: 0.875rem;
        line-height: 1;
    }
}

main{
	height: 100%;
}

section{
	&.min-height{
		overflow-y: auto;
		height: 100%;
	}
}

.animate-arrow{
    position: relative;
    width: 55px;
    height: 40px;
    display: inline-block;
    // &:hover{
    //     .icon-glyphter{
    //         left: 0;
    //     }
    // }
    &::before{
        position: absolute;
        content: '';
        right: 100%;
        top: 0;
        width: 150%;
        pointer-events: none;
        z-index: 2;
        height: 40px;
        background-color: #fff;
    }
    .icon-glyphter{
        pointer-events: none;
        transition: left 0.5s ease-in-out;
        position: absolute;
        left: -60px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 106px;
    }
}
.with-bg{
    header{
        color: #fff;
        .logo{
            color: #fff;
        }
    }
    .hamburger{
        .icon-menu{
            color: #fff;
        }
	}
	.click-next-block{
		color: #fff;
		.icon-glyphter{
			color: #fff;
		}
	}
}

.fixed-block-main{
	header{
		position: relative;
		z-index: 999;
	}
}

.link-with-arrow{
	&.without-bg{
		&.red{
			.text{
				color: $colorRed;
			}
			.animate-arrow{
				.icon-glyphter{
					color: $colorRed;
				}
			
			}
		}
		
	}
	&:hover{
		.animate-arrow{
			.icon-glyphter{
				left: 0;
			}
		}
	}
	display: inline-flex;
    align-items: center;
	pointer-events: auto;
	.animate-arrow{
		.icon-glyphter{
			color: #fff;
		}
		margin-left: 20px;
		overflow: hidden;
		padding-right: 150px;
		&::before{
			display: none;
		}
	}
}
.hamburger{
	&.absolute{
		position: absolute;
		right: 65px;
		top: 0;
	}
	cursor: pointer;
	.icon-menu{
		font-size: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
header{
    .wrapper-logo{
        height: 69px;
    }
    .link-logo{
        height: 100%;

        i{
            pointer-events: none;
        }
    }
    .logo{
        font-size: 211px;
        &::before{
            height: 69px;
            line-height: 69px;
        }
    }
    .header-content{
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav{
        display: none;
    }
    .language{
        display: none;
    }
}
.slider-peoples{
	#navigation {
		grid: unset;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.bullet{
			width: 40px;
			display: flex;
			justify-content: center;
			position: absolute;
			background: transparent;
			border-radius: 0;
			right: 10px;
			opacity: 1;
			height: auto;
			&.next{
				top: 70px;
			}
			&.prev{
				bottom: 4px;
			}
			.icon-glyphter{
				font-size: 22px;
				color: $colorBlack;
			}

		}

	}
	height: 100%;
	position: relative;
	.item{
		.img-wrapper{
			overflow: hidden;
			.image{
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				background-color: #fff;
				position: relative;
				height: 100%;
				object-fit: cover;

			}

		}
		.title-wrapper{
			height: auto;
			background: inherit;
			position: static;
			top: inherit;
			.inner-wrapper{
				color: $colorBlack;
				background-color: #fff;
				padding: 0;
			}
		}
		height: 100%;
		.name{
			margin-bottom: 0;
		}
		.work{
			margin-bottom: 5px;
		}
		display: flex;
		flex-direction: column;
	}
}
.height{
	.container, .row, div[class^='col'] {
		height: 100%;
	}
}
.who_we{
	margin-top: 60px;
}
.animate-icons-group{
	display: flex;
	flex-flow: row wrap;
	margin: 70px -30px -30px;
	.item{
		.wrapper{
			width: 80px;
			display: flex;
			align-items: center;

		}
		display: flex;
		justify-content: center;
		padding: 30px;
		flex: 0 0 25%

	}
}
footer{
	.go-home{
		margin-right: 5px;
		margin-top: 74px;
	}
	.wrapper-hamburger{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}
	.contacts{
		.subtext{
			font-size: 0.875rem;
			display: block;
			line-height: 1;
		}
		.mail, .scype{
			.icon-glyphter{
				margin-right: 10px;
				font-size: 1.56rem;
			}
			display: flex;
			align-items: center;

		}
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.bg-image{
		height: 100%;
		transform: none;
		transition: 0.5s linear;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.footer-top{
		min-height: 32vh;
		.padding{
			position: relative;
			padding: 14vh 0 15px;
		}
	}
	.footer-bottom{
		color: #fff;
		.copyright{
			padding-bottom: 30px;
			display: block;
			opacity: 0.44;
			font-weight: 300;
			font-size: 1rem;
		}
		.link{
			.h1{
				margin-bottom: 25px;
			}
			min-height: 68vh;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.top{
				padding-top: 100px;
				display: flex;
				flex-direction: column;
				height: 55vh;
				justify-content: center;
			}
		}
		.wrapper-link{
			height: 100%;
			display: block;
			overflow: hidden;
			position: relative;
			&:hover{
				.bg-image{
					transform: scale(1.05);
				}
				.link-with-arrow .animate-arrow .icon-glyphter{
					left: 0;
				}
			}
		}
	}
}

















* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	overflow: hidden;
	margin: 0;
}

.wrapper {
	height: 100%;
	width: 100%;
}

#slider {
	.h1{
		margin-bottom: 19px;
	}
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
	.container{
		height: 100%;
	}
}

.slide {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none;
	.link-with-arrow{
		// transition: all 0.3s;
		// opacity: 0;
		pointer-events: none;
	}
}

.slide.current {
	.link-with-arrow{
		// opacity: 1;
		pointer-events: auto;
	}
	pointer-events: initial;
	opacity: 1;
	z-index: 10;
}

.slide-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.img-wrapper {
	width: 100%;
	height: 100%;
}

.img-wrapper img {
	max-width: inherit;
	width: calc(100% + var(--transform-amount));
	height: calc(100% + var(--transform-amount));
	top: calc(var(--transform-amount) / 2 * -1);
	left: calc(var(--transform-amount) / 2 * -1);
	position: relative;
	object-fit: cover;
	mix-blend-mode: luminosity;
}

.title-wrapper {
	.container{
		display: flex;
		align-items: center;
	}
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.5) 0%,
		rgba(0, 0, 0, 0) 100%
	);
}

.inner-wrapper {
	padding: 150px 0;
	// position: absolute;
	// bottom: 5em;
	// left: 5em;
	color: var(--text-color);
	// max-width: 70%;
}

.slide-title {
	white-space: nowrap;
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 900;
}

.slide-subtitle {
	font-size: 1.5em;
}

#counter {
    position: absolute;
    z-index: 999;
    right: 100px;
    bottom: 50px;
    display: flex;
    color: #fff;
    line-height: 1;
}
.current-counter {
	top: -4px;
	font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    font-size: 44px;
    font-weight: bold;
    position: relative;
	width: 30px;
	margin-right: 11px;
}
.count {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.count.active {
    opacity: 1;
}
.total-counter {
	font-size: 1.5rem;
	font-weight: 300;
}
.total-counter:before {
	padding-right: 10px;
    content: '/';
}

#navigation {
	pointer-events: none;
	position: absolute;
	bottom: 0;
	z-index: 15;
	width: 100%;
	height: 50px;
	display: grid;
	grid-template-columns: repeat(var(--bullets-count), 60px);
	grid-gap: 16px;
	justify-content: center;
	align-items: center;
}

.bullet {
	pointer-events: initial;
	border-radius: 10px;
	cursor: pointer;
	height: 5px;
	background: var(--bullets-color);
	transition: opacity 0.3s ease;
	opacity: 0.2;
}

.bullet.current {
	opacity: 1;
}

.bullet:not(.current):hover {
	opacity: 0.5;
}

.click-next-block{
	&.position{
		position: absolute;
		z-index: 999;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
	}
}


























@media (max-width: 700px) {
	.slide-title {
		font-size: 3em;
	}
	.slide-subtitle {
		font-size: 1.2em;
	}
}

@media (max-width: 500px) {
	.inner-wrapper {
		left: initial;
		width: 100%;
		max-width: initial;
	}
	.slide-title {
		font-size: 4em;
		text-align: center;
	}
	.slide-subtitle {
		display: none;
	}
}

@media (max-width: 450px) {
	.slide-title {
		font-size: 3em;
	}
}
